pbody {
  font-family: system-ui;
  padding: 2rem;
}

amalgo-box {
  position: relative;
  z-index: 1;
}

amalgo-box input {
  width: 13rem;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  font-size: inherit;
  background: inherit;
}

amalgo-box amalgo-popover {
  pointer-events: none;
  position: absolute;
  top: -0.25rem;
  left: 1rem;
  z-index: 1;
  display: block;
  border-radius: 6px;
  border: solid 1px #eee;
  background: white;
  box-shadow: 0px 4px 6px -1px #00000050;
  transform-origin: top left;
  transform: scale(0.9);
  opacity: 0;
  transition: all 150ms;
}

amalgo-box[open] amalgo-popover {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

amalgo-menu {
  position: relative;
  z-index: 1;
  border-top: solid 1px #eee;
  padding: 0.25rem 0.5rem;
  display: block;
}

amalgo-option {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: default;
}

amalgo-option[hidden] {
  display: none;
}

amalgo-option[highlight] {
  background: #eee;
}
